{% extends "_/layouts/base" %}
{% block content %}


        <div class="header__container">
            <img class="header__background" src="images/background.png" alt="">
            <div class="header__information">
                <img class="header__logo" src="images/logo.svg" alt="">
                <p class="header__date">1 - 2 - 3 August</p>
                <p class="header__location">V-tex site Kortrijk</p>
                <div class="header__buttons">
                    <button>Tickets</button>
                    <a href="lineup"><button>Line-up</button></a>
                </div>
            </div>
            
        </div>

{% endblock %}