@import url('https://fonts.googleapis.com/css2?family=Anton&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

:root{
    --primary-color: #2EFF1D;
    --dark-color: black;
    --dark-color-opacity: rgba(0, 0, 0, 0.95);
    --light-color: white;

    --titillium: 'Titillium Web', sans-serif;
    --anton: 'Anton', sans-serif;

}

.container__detail{
    color: white;
    font-family: var(--titillium);
}

.detail__title{
    font-size: 4rem;
}